
*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

body{
    background-color: #F8F1D9;
}

.bar{
    background-color: #15639d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 150px;
    min-height: 110px;
    position: fixed;
    z-index: 100;
    width: 100%;
    align-items: center;

}

.logo-img{
    width: 90px;
    margin-left: 40px;
}

.title-text{
    text-decoration: none;
    color: #E6E0D1;
    font-size: 25px;
}

.nav-bar-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.nav-bar-right img{
    width: 50px;
}

.nav-bar-right a{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}

.item-text{
    text-decoration: none;
    color: #E6E0D1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-text p{
    margin-top: 1px;
    font-weight: 550;
}

main{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 80vh;
    align-items: center;
}

main h1{
    text-align: center;
    color: #531f33;
    font-size: 40px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 100;
}

.container-data{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 35vh;
    align-items: center;
    justify-content: space-between;
    top: 200px;
}

main .button1{
    color: #F8F1D9;
    background-color: #E6337C;
    width: 40%;
    height: 35px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

main img{
    width: 350px;
    position: fixed;
    bottom: 5px;
    right: 40px;
}

.button1:hover{
    cursor: pointer;
}