
*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

body{
    background-color: #F8F1D9;
}

.bar{
    background-color: #15639d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 150px;
    min-height: 110px;
    position: fixed;
    z-index: 100;
    width: 100%;
    align-items: center;

}

.logo-img{
    width: 90px;
    margin-left: 40px;
}

.title-text{
    text-decoration: none;
    color: #E6E0D1;
    font-size: 25px;
}

.nav-bar-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.nav-bar-right img{
    width: 50px;
}

.nav-bar-right a{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}

.item-text{
    text-decoration: none;
    color: #E6E0D1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-text p{
    margin-top: 1px;
    font-weight: 550;
}

main{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}
  
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 80px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 50px;
    position: relative;
}
  
label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 100px;
    transition: 0.3s;
}
  
input:checked + label {
    background: #E6337C;
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
  
label:active:after {
    width: 70px;
}

main h1{
    color: #531f33;
    font-size: 40px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 100;
}

h2{
    color: #531f33;
    font-size: 30px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 100;
}

.container-ajustes{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    height: 60vh;
}

.idiomas{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
}

.container-b{
    display: flex;
    flex-direction: column;
    background-color:#E6E0D1;
    width: 60%;
    border-radius: 25px;
    justify-content: center;
}

.idiomas p{
    color: #531f33;
    font-size: 18px;
}

.idioma-b{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #E6E0D1;
    color: #531f33;
    font-size: 18px;
}

.idiomas-b2{
    color: #F8F1D9;
    background-color: #E6337C;
    width: 40%;
    height: 35px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
}

.idioma-b:hover{
    background-color: #E6337C;
    color: #F8F1D9;
}

.tema{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
    color: #531f33;
    font-size: 18px;
}

.tema button{
    color:#531f33;
    background-color:#E6E0D1;
    width: 40%;
    height: 35px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
}

.Notificaciones{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
}

.container-service{
    background-color:#E6E0D1;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80px;
    border-radius: 20px;
    justify-content: center;
}

.container-data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

hr{
    background-color: #F8F1D9;
    height: 3px;
    border: none;
}

.container-data p{
    color:#531f33;
    font-size: 18px;
}

.description{
    color: #E6337C;
    text-align: center;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.tema button:hover{
    cursor: pointer;
}

.idiomas button:hover{
    cursor: pointer;
}