
*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

body{
    background-color: #F8F1D9;
}

.bar{
    background-color: #15639d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 150px;
    min-height: 110px;
    position: fixed;
    z-index: 100;
    width: 100%;
    align-items: center;

}

.logo-img{
    width: 90px;
    margin-left: 40px;
}

.title-text{
    text-decoration: none;
    color: #E6E0D1;
    font-size: 25px;
    font-weight: 100;
}

.nav-bar-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.nav-bar-right img{
    width: 50px;
}

.nav-bar-right a{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}

.item-text{
    text-decoration: none;
    color: #E6E0D1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-text p{
    margin-top: 1px;
    font-weight: 550;
}

main{
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
}

.tarjet{
    width: 260px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-section{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    width: 50vh;
    justify-content: space-evenly;
    align-items: center;
}

.container-section button{
    color: #F8F1D9;
    background-color: #E6337C;
    width: 215px;
    height: 35px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
}

.title-section{
    color: #531f33;
    font-size: 30px;
}

.container-s{
    background-color: #E6E0D1;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 35vh;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 25px;
}

.container-pay{
    display: flex;
    flex-direction: column;
}

.pay{
    background-color: #E6E0D1;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
}

.container-section p{
    font-size: 18px;
    color: #531f33;
}

h4{
    font-size: 20px;
    color: #276A9D;
}

.modal-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:#F8F1D9;
    width: 500px;
    max-width: 100%;
    padding: 30px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center; 
    margin-top: 120px;
    height: 450px;
    transition: transform 0.3s;
}

.modal h1{
    font-size: 25px;
    color: #531f33;
}

h1{
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 100;
}

.container-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

.plan{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    justify-content: space-evenly;
    height: 100px;
}

.plan-data{
    background-color: #E6E0D1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 80%;
    padding: 5px;
    border-radius: 15px;
}

.container-plan img:hover{
    cursor: pointer;
}

.show{
    pointer-events: auto;
    opacity: 1;
    animation: fadeIn 0.7s ease;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
}

#Cambiar:hover{
    cursor:pointer;
}

#Cerrar:hover{
    cursor:pointer;
}